.price  {
text-align: center;
}

.show_input {
    display: none;
    width: fit-content;
    margin: 15px auto;
    position: relative;
    border: 1px rgba(186, 181, 181, 0.5) solid;
    border-radius: 13px;
    padding: 5px;
    color: rgb(99, 99, 99);
}

.value {
    padding-right: 23px;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    opacity: 0.3;
    border: 1px gray solid;
    border-radius: 50%;

}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    top: 4px;
    left: 8px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.unfocused  {
   outline: none;
    background-color: #66FF33;

}

.focused {
     outline: none;
     border-color: #66FF33;

 }
.error {
    border-color: red;
}